<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h2 class="white-text">Follow Us!</h2>
        <p class="grey-text text-lighten-4">
          Eiiitaaa Mainhaaa!! Esse Lorem ipsum…!! ó digo uma coisa,
          Domingo ela não vai! Vem minha odalisca,.
          Tchannn!! Tchannn!! Tu du du pááá! Eu gostchu muitchu, heinn! Mainhaa!
        </p>
      </div>
      <div class="col s6">
        <div class="row">
          <div class="col m12">
            <ul>
              <a href="#"><i class="large material-icons white-text">face</i></a>
              <a href="#"><i class="large material-icons white-text">face</i></a>
              <a href="#"><i class="large material-icons white-text">face</i></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container center">
      © Pencil Labs, 2015
    </div>
  </div>

  <script type="text/javascript" src="{{ "/js/jquery-2.1.1.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/bin/materialize.min.js" | prepend: site.baseurl }}"></script>
  <script type="text/javascript" src="{{ "/js/scroll_navbar.js" | prepend: site.baseurl }}"></script>
  <script>
  $(document).ready(function() {
    $(".button-collapse").sideNav();
    $(".parallax").parallax();

    var options = [
    {selector: '#loading', offset: 100, callback: 'Materialize.showStaggeredList("#loading")' },
    {selector: '#service-focused', offset: 250, callback: 'Materialize.showStaggeredList("#service-focused")' },
    {selector: '#contact-us', offset: 400, callback: 'Materialize.showStaggeredList("#contact-us")' },
    {selector: '#parallax-end', offset: 400, callback: 'Materialize.fadeInImage("#parallax-end")'}
    ];
    Materialize.scrollFire(options);
  })
  </script>
</footer>
